# Dependencies
node_modules/

# Build output
dist/

# Typescript build cache
*.tsbuildinfo

# Coverage
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Moderne CLI
.moderne/*
!.moderne/context/
